---
# tasks file for roles/caddy-build-and-run-docker
- name: Pull caddy build image
  community.docker.docker_image:
    name: caddy:builder
    source: pull
- name: Create build dir
  ansible.builtin.file:
    path: /root/dockerbuild
    state: directory
    mode: u=rwx,g,o
- name: Template dockerfile
  ansible.builtin.template:
    src: "{{ role_path }}/templates/Dockerfile.j2"
    dest: /root/dockerbuild/Dockerfile
    mode: u=rw,g,o
- name: Build image with modules
  community.docker.docker_image_build:
    name: "{{ image_name }}"
    tag: "{{image_tag}}"
    dockerfile: Dockerfile
    path: /root/dockerbuild/
- name: Create data volume
  community.docker.docker_volume:
    name: caddy_data
- name: Create caddy etc dir
  ansible.builtin.file:
    path: /root/caddy
    state: directory
    mode: u=rwx,g,o
- name: Copy Caddyfile to host
  ansible.builtin.copy:
    content: "{{ caddyfile }}"
    dest: /root/caddy/Caddyfile
    mode: u=rw,g,o
  register: copy_config_result
  notify: Reload_caddy_service
- name: Run caddy container
  community.docker.docker_container:
    name: caddy
    image: "{{ image_name }}:{{ image_tag }}"
    image_name_mismatch: recreate
    network_mode: host
    restart_policy: "unless-stopped"
    env:
      cloudflare_api_key: "{{ cloudflare_key }}"
    volumes:
      - caddy_data:/data:rw
      - caddy_config:/config:rw
      - /root/caddy/:/etc/caddy/:ro
    # mounts:
    #   - read_only: true
    #     source: /root/Caddyfile
    #     target: /etc/caddy/Caddyfile
    #     type: bind
